.box{
    float: left;
    width: 70px;
    height: 70px;
    font-size: 40px;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
}
.box:hover{
    text-decoration: underline;
}

.black{
    background-color:#eee;
}
.white{
    background-color:#ccc;

}

.row{
    display: inline;
    float:left;
    clear:both;
}

.selected{
    color:#ff0000;
    text-decoration: underline;
}

#infoLog {
    height:520px;
    width: 400px;
    scroll:auto;
}

#infoLogContainer{
    overflow-y: scroll;
}

.error{
    color:#ff0000;
}